<!DOCTYPE html>
<html>
<head>
    <title>NUSExchange</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel='stylesheet' href="/node_modules/fullcalendar/main.css" />
</head>

<body>
<script type="text/javascript" src="https://kit.fontawesome.com/ef5c52b6a7.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/node_modules/tesseract.js/dist/tesseract.min.js"></script>
<script type="text/javascript" src="/node_modules/fullcalendar/main.js"></script>
<script type="text/javascript" src="/javascripts/dropdownScript.js"></script>


<%- include("./topbar") %>

<div class="container-fluid">
    <div class="row">
