<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab"  href="#module-details">Module Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab"  href="#module-worksheet">Module Mapping Worksheet</a>
    </li>
</ul>

